{% extends 'main/layout.html' %}

<title>{% block title %}{{ current_category.title }}{% endblock %}</title>

{% block content %}
<div class="features">
    <h1>Статей в категории ({{ count }} ст.)</h1>
    <div class="search">
        <form action="{% url 'search' %}" method="get">
            <input name="q" class="form-control" type="text" placeholder="Search...">
            <input type="submit" name="send" value="Поиск по наличию совпадений в статье" class="mt-2 btn btn-danger">
        </form>
    </div>
        {% if article %}
            {% for element in article %}
                <div class="alert alert-warning">
                    <h3>{{ element.title }}</h3>
                    <p>{{ element.anons }}</p>
                    <div class="media">
                        {% if element.photo %}
                            <img class="face_image" src="{{ element.photo.url }}" alt="" class="mr-3">
                        {% else %}
                            <img class="face_image" src="https://static.tildacdn.com/tild6339-3135-4361-a330-643261666538/bermamyt_plato_foto_.jpeg" alt="" class="mr-3">
                        {% endif %}
                    </div>
                    <p>{{ element.date }}</p>
                    <a href="{% url 'news-detail' element.id %}" class="btn btn-warning">Читать дальше</a>
                </div>
            {% endfor %}
        {% else %}
            <p>У вас нет записей в этой категории!</p>
        {% endif %}
</div>
{% endblock %}