{% extends 'main/layout.html' %}

<title>{% block title %}Категории{% endblock %}</title>

{% block content %}
<div class="features">
    <h1>Категории ({{ count }} кат.)</h1>
        {% if categories %}
            {% for element in categories %}
                <div class="alert alert-warning" class="categories">
                    <a href="{% url 'category' element.pk %}">
                    <h3>{{ element }}</h3>
                </div>
            {% endfor %}
        {% else %}
            <p>Нет категорий!!</p>
        {% endif %}
</div>
{% endblock %}