{% extends 'main/layout.html' %}

<title>{% block title %}Поиск на сайте{% endblock %}</title>

{% block content %}
<div class="features">
    <h1>Поиск на сайте ({{ count }} ст.)</h1>
        {% if search %}
            {% for element in search %}
                <div class="alert alert-warning">
                    <h3>{{ element.title }}</h3>
                    <p>{{ element.anons }}</p>
                    <a href="{% url 'news-detail' element.id %}" class="btn btn-warning">Читать дальше</a>
                </div>
            {% endfor %}
        {% else %}
            <h3>Нет данных для вашего запроса!</h3>
        {% endif %}
        <a href="{% url 'news_home' %}"><button class="btn btn-danger">Перейти в новости</button></a>
</div>
{% endblock %}