{% extends 'main/layout.html' %}

<title>{% block title %}Про меня{% endblock %}</title>

{% block content %}
<div class="features">
    <h1>About my self</h1>
    <p>Hey! My name is Vladimir. I heard a lot about your company. I am looking for a team of Python developers to work together successfully. </p>
    <p>I have excellent python development skills knowledge of Django framework, MySQL. I would be happy to join team :) Thanks!</p>
    <a href="{% url 'contacts' %}"><button class="btn btn-danger">Контакты</button></a>
</div>
{% endblock %}