{% extends 'main/layout.html' %}

<title>{% block title %}Про меня{% endblock %}</title>

{% block content %}
<div class="features">
    <h1>Про меня</h1>
    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham. </p>
    <button class="btn btn-danger">Просто нажми</button>
</div>
{% endblock %}