{% extends 'main/layout.html' %}

<title>{% block title %}Контакты{% endblock %}</title>

{% block content %}

<div class="features">
        <h1>Контакты</h1>
        <img src="https://cdn.pixabay.com/photo/2017/12/02/14/38/contact-us-2993000_960_720.jpg" class="info"><br><br>
                <h4><a href="tel:+375295603750"><i class="fas fa-address-card"> Call me: tel:+375295603750</i></a></h4>
                <h4><a href="mailto:grun_gespenst@tut.by"><i class="fas fa-address-card"> Email: grun_gespenst@tut.by</i></a></h4>
                <h4><a href="https://github.com/Vladimir-82/portfolio"><i class="fab fa-hacker-news"></i> GIT https://github.com/Vladimir-82/portfolio</a></h4>
                <h4><a href="https://www.codewars.com/users/Vladimir-82"><i class="fab fa-hacker-news"></i> Codewars: www.codewars.com/users/Vladimir-82</a></h4><br>
                <a href="{% url 'about' %}"><button class="btn btn-danger">Про меня</button></a>
</div>

{% endblock %}