{% extends 'main/layout.html' %}

<title>{% block title %}Главная страница{% endblock %}</title>

{% block content %}
<div class="features">
    <h1>Главная страница</h1>
    <p>Django (Джанго) — свободный фреймворк для веб-приложений на языке Python, использующий шаблон проектирования MVC. Проект поддерживается организацией Django Software Foundation. Сайт на Django строится из одного или нескольких приложений, которые рекомендуется делать отчуждаемыми и подключаемыми. Это одно из существенных архитектурных отличий этого фреймворка от некоторых других (например, Ruby on Rails). Один из основных принципов фреймворка — DRY (англ. Don't repeat yourself). </p>
    <a href="{% url 'about' %}"><button class="btn btn-danger">Про меня</button></a>
</div>
{% endblock %}